*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.agents
.venv
db.sqlite3
skills-lock.json
temp/
.env
.vscode/
auth.json
.playwright-cli/
.github/*
!.github/workflows/
.github/prompts/
.github/skills/
staticfiles/
backups/