{% if messages %}
<div class="mb-3">
    {% for message in messages %}
    {% if "error" in message.tags %}
    {% with alert_class="danger" %}
    <div class="alert alert-{{ alert_class }} alert-dismissible fade show mb-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endwith %}
    {% elif "success" in message.tags %}
    <div class="alert alert-success alert-dismissible fade show mb-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif "warning" in message.tags %}
    <div class="alert alert-warning alert-dismissible fade show mb-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-info alert-dismissible fade show mb-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
